[Unit]
Description=Calibre library server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/calibre-server --disable-local-write --enable-auth --ajax-timeout=360 /home/ubuntu/kindle

[Install]
WantedBy=multi-user.target
